<div class="footer" style="min-height: 90px;background-color: forestgreen;text-align: center">

  <div style="display: inline-block;width: 34%; text-align: left;padding-left: 2%;height: 100%;color:white;padding-top: 3%">
    <div>
      <a routerLink="/impressum">
        Impressum
      </a>
    </div>
    <div>
      <a routerLink="/datenschutz">
        Datenschutz
      </a>
    </div>
  </div>
  <div style="display: inline-block;width: 34%">
  </div>
  <div
    style="color:white;display: inline-block;width: 34%;text-align: right; padding-right: 2%;padding-top: 5%">
    <div>
      Developed by Marc Szymendera
    </div>
  </div>


<!--  <div style="text-align: center; width: 100%; float:right">-->
<!--    <p style="color: white">-->
<!--      Marc Szymendera-->
<!--    </p>-->

<!--  </div>-->
</div>
